@use '../styles/variables' as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link-hover {
  display: inline-block;
  transition: 200ms ease-in-out;
  &:hover {
    background-color: vars.$link-hover;
  }
}

@mixin active-link-indicator($position) {
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.4rem;
    background-color: vars.$golden-yellow;
    top: $position;
    left: 0;
  }
}
