$black: rgb(0, 0, 0);
$light-grey: rgb(224, 224, 224);
$dark-grey: rgb(29, 35, 42);
$golden-yellow: rgb(214, 161, 0);
$very-dark-grey: rgb(20, 25, 31);
$border: rgb(68, 73, 79);
$border-light: rgba(68, 73, 79, 0.4);
$link-hover: rgba(255, 255, 255, 0.1);
