$black: #000000;
$light-grey: #e0e0e0;
$dark-grey: #1d232a;
$golden-yellow: #d6a100;
$very-dark-grey: #14191f;
$border: #44494f;
$border-light: #44494f66;
$link-hover: #ffffff1a;
$border-radius: 1.8rem;
